/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 100px; */
}
.item-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.item-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.item-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.item-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 90%;
  color: rgb(197, 6, 6);
}
.imgItem {
  /* position: relative; */
  padding: 6px;
  /* left: 40%; */
  height: 250px;
  width: 250px;
  opacity: 75%;
  transition-duration: 0.7s;
}
.imgItem:hover {
  transition-duration: 0.5s;
  height: 300px;
  width: 300px;
  opacity: 100%;
}

.item-details-imgs {
  position: relative;
  left: 200px;
}

.item-details-info {
  position: absolute;
  top: 80px;
  line-height: 3;
}

.deleteIcon {
  height: 35px;
  width: 35px;
}

.hide {
  display: none;
  position: absolute;
  top: 80px;
  right: 3px;
  background-color: #ddd;
}

.itemClickIcon:hover + .hide {
  display: block;
  color: rgb(0, 0, 0);
}

.addToCartIcon {
  height: 35px;
  width: 40px;
  position: relative;
  top: 3px;
}

/* new item sector */
label,
input {
  display: block;
}
input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.filterBar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceSliderBox {
  width: 200px;
  position: relative;
  left: 20px;
  bottom: 5px;
}

.priceSliderBoxText {
  position: relative;
  left: 70px;
  top: 20px;
  color: rgb(91, 91, 91);
  font-size: 15px;
}
.result {
  width: 250px;
  background-color: white;
  height: fit-content;
  text-align: center;
  margin-top: 23px;
  border-radius: 5px;
  box-shadow: #555;
  box-sizing: border-box;
  /* border: 1px solid black; */
  position: absolute;
  margin-left: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnOrder {
  margin-bottom: 10%;
}
.orderProfile {
  width: fit-content;
  height: fit-content;
  border: 4px solid black;
  background-color: white;
  display: table-row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}
.itemImgInProfile {
  width: 60px;
  height: 60px;
}
